# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.spec
*.exe
.eggs/
*.egg
.venv/
venv/
env/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~
.project
.settings/

# 不上斈亄
.env
.env.local
*.secret
secrets/

# Office documents (metadata leaks)
~$*.docx
/$*.xlsx
/$*.pptx
*.tmp

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/

# Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Rust / Tauri build artifacts
desktop/src-tauri/target/
desktop/dist/
desktop/node_modules/

# Internal tooling
.reasonix/
.uploads/
